#header{
    margin-top: 80px;
    
}

#logo{

    float: right;
    margin-right: 1200px;
    height: 300px;
    width: -300px;
    margin-top: -150px;
    

}
#content{
    margin-left: 50px;
}

#content-main{
    float: right;
    margin-top: -250px;
    margin-right:400px;
    margin-left: 450px;
}

#content-side{
    float: left;
    margin-left:50px;
    margin-top: -100px;

}

blockquote{
    text-align: left;
    font-size: 50px;
    margin-left: 450px;
    margin-top: 100px;
    

}

a{
    text-decoration: none;
    color: rgb(184, 148, 116);

}

dt{
    font-size: 20px;
}

p{
    font-family: sans-serif;
    font-style: italic;
}