#wrap{
    background-color:#8080ff;
    height:500px;
    float:center;

    

}
#nav{
    background-color:#e6eeff;
    float: left;
    width: 180px;
    height:397px;
    margin-left: 30px;
    
}
#content{
    margin-top: 20px;
    background-color:#80a8ff;
    margin-left: 30px;
    height: 397px;
    width:960px;
}

ul{
    list-style-type: none;
    text-align: center;
}
.center {
    margin: auto;
    width: 73%;
    border: 3px;
    padding: 10px;
}